body {
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}
.space {
  letter-spacing: -0.4rem !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .link:hover {
    @apply border-b border-black;
  }
  .active {
    @apply text-black border-black font-semibold border-b;
  }
  .link {
    @apply pb-1 duration-300 font-semibold ease-in;
  }
  .nav {
    @apply sm:hidden bg-orange-400 bg-opacity-75  absolute top-20 bottom-0 left-0 right-0;
  }
  .form {
    @apply border-b-2 border-black px-4 py-2 placeholder:text-2xl focus:border-2 max-w-2xl;
  }
  .bg-1 {
    background-image: url(./asset/A.jpg);
    background-position: center;
    background-size: cover;
  }
  .bg-2 {
    background-image: url(./asset/Car-1.jpg);
    background-position: center;
    background-size: cover;
  }
  .bg-3 {
    background-image: url(./asset/Car-2.jpg);
    background-position: center;
    background-size: cover;
  }
  .bg-4 {
    background-image: url(./asset/Car-3.jpg);
    background-position: center;
    background-size: cover;
  }
  .bg-main {
    background-image: url(./asset/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(0.5); */
  }
  .text-large {
    font-size: 20rem;
    line-height: 2rem;
  }
  .text-md {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  /* .carosel {
    @apply relative w-fit h-[70vh];
  } */
}
